<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<div class="flex px-4 py-4">
  <%= form_with url: root_path, method: :get, id: "search-form", class: "flex w-full items-center space-x-2" do |form| %>
    <%= form.text_field :query,
                    id: "query-field",
                    value: params[:query],
                    placeholder:
                      "What do you have available at home? (ex: banana coffee bread...)",
                    class:
                      "flex-grow px-4 text-md border border-cyan-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500 py-2" %>
    <%= form.submit "Submit",
                class: "cursor-pointer bg-cyan-500 text-white px-4 py-2 rounded" %>
    <%= button_to "Clear",
    root_path,
    id: "clear-button",
    method: :get,
    class: "cursor-pointer bg-cyan-500 text-white px-4 py-2 rounded" %>
  <% end %>
</div>

<div class="flex flex-col w-full">
  <% if @recipes.any? %>
    <div class="overflow-x-auto">
      <div class="py-2 inline-block min-w-full">
        <div class="overflow-x-auto">
          <table class="min-w-full overflow-x-scroll">
            <thead class="bg-grey-500 border">
              <tr>
                <th scope="col" class="font-medium text-gray-800 px-6 py-4 text-left">
                  Image
                </th>
                <th
                  scope="col"
                  class="
                    text-gray-800 px-6 py-4 text-left font-medium hover:cursor-pointer
                  "
                >
                  <div class="sort-container">
                    <%= sort_link(column: "title", label: "Title") %>
                    <%= show_sort_indicator_for("title") %>
                  </div>
                </th>
                <th
                  scope="col"
                  class="
                    font-medium text-gray-800 px-6 py-4 text-left hover:cursor-pointer
                  "
                >
                  <div class="sort-container">
                    <%= sort_link(column: "category", label: "Category") %>
                    <%= show_sort_indicator_for("category") %>
                  </div>
                </th>
                <th scope="col" class="font-medium text-gray-800 px-6 py-4 text-left">
                  <div class="sort-container">
                    <%= sort_link(column: "number_of_ingredients", label: "Ingredients") %>
                    <%= show_sort_indicator_for("number_of_ingredients") %>
                  </div>
                </th>
                <th
                  scope="col"
                  class="
                    font-medium text-gray-800 px-6 py-4 text-left hover:cursor-pointer
                  "
                >
                  <div class="sort-container">
                    <%= sort_link(column: "cook_time", label: "Cook Time (min)") %>
                    <%= show_sort_indicator_for("cook_time") %>
                  </div>
                </th>
                <th
                  scope="col"
                  class="
                    font-medium text-gray-800 px-6 py-4 text-left hover:cursor-pointer
                  "
                >
                  <div class="sort-container">
                    <%= sort_link(column: "prep_time", label: "Prep Time (min)") %>
                    <%= show_sort_indicator_for("prep_time") %>
                  </div>
                </th>
                <th
                  scope="col"
                  class="
                    font-medium text-gray-800 px-6 py-4 text-left hover:cursor-pointer
                  "
                >
                  <div class="sort-container">
                    <%= sort_link(column: "ratings", label: "Ratings") %>
                    <%= show_sort_indicator_for("ratings") %>
                  </div>
                </th>
                <th
                  scope="col"
                  class="
                    font-medium text-gray-800 px-6 py-4 text-left hover:cursor-pointer
                  "
                >
                  <div class="sort-container">
                    <%= sort_link(column: "author", label: "Author") %>
                    <%= show_sort_indicator_for("author") %>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <% @recipes.each do |r| %>
                <tr class="bg-gray-50 border-b">
                  <td class=" px-6 py-4 whitespace-nowrap font-medium text-gray-800 underline ">
                    <%= if r.image.present?
                      image_tag(r.image, class: "max-w-[200px] max-h-[200px]")
                    else
                      image_tag("/placeholder.png")
                    end %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap font-medium text-gray-800">
                    <%= r.title %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap font-medium text-gray-800">
                    <%= r.category %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-small text-gray-800">
                    <ul class="list-disc pl-4">
                      <% r.ingredients.split("|").each do |ingredient| %>
                        <li class="text-cyan-700"><%= ingredient.strip %></li>
                      <% end %>
                    </ul>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap font-medium text-gray-800">
                    <%= r.cook_time %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap font-medium text-gray-800">
                    <%= r.prep_time %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap font-medium text-gray-800">
                    <%= r.ratings %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap font-medium text-gray-800">
                    <%= r.author %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% else %>
    <div class="text-center py-10">
      <p class="text-lg font-medium text-gray-700">
        Hoah! No recipes found. Try adjusting your search! Watchout for typos.
      </p>
    </div>
  <% end %>
</div>

<div class="w-full max-2-6xl mx-auto px-2">
  <div class="xl:grid xl:grid-cols-1">
    <div class="mx-auto my-auto">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
    <div class="mx-auto my-auto py-2">
      <%== pagy_info(@pagy) if @pagy.pages > 1 %>
    </div>
  </div>
</div>

<script>
  document.getElementById("search-form").addEventListener("submit", function(event) {
    let queryField = document.getElementById("query-field");
    let cleanedQuery = queryField.value.replace(/[\s,./;:!?-]+/g, ' ').trim() // Remove common separators
    queryField.value = cleanedQuery;

    localStorage.setItem("query", cleanedQuery);
  });

  document.getElementById("clear-button").addEventListener("click", (event) => {
    localStorage.setItem("query", "");

    let queryField = document.getElementById("query-field")
    queryField.value = "";

    document.getElementById("search-form").submit();
  });

  window.addEventListener("load", () => {
    query = localStorage.getItem("query");
    let queryField = document.getElementById("query-field").value = query;

    localStorage.removeItem("query", "");
  });
</script>
